In [31]:
import matplotlib.pyplot as plt
import matplotlib.dates as dates
%pylab inline
pylab.rcParams['figure.figsize'] = (12, 8)   # Change the size of plots

import pandas as pd
import pandas_datareader as web
import datetime

ticker = ['SGH', 'VWOB']

stocks = web.DataReader(ticker, 'robinhood')

stocks.head(5)

Populating the interactive namespace from numpy and matplotlib

                  close_price high_price  interpolated low_price open_price  \
symbol begins_at
SGH    2017-04-26     12.0000    12.0000          True   12.0000    12.0000
       2017-04-27     12.0000    12.0000          True   12.0000    12.0000
       2017-04-28     12.0000    12.0000          True   12.0000    12.0000
       2017-05-01     12.0000    12.0000          True   12.0000    12.0000
       2017-05-02     12.0000    12.0000          True   12.0000    12.0000

                  session  volume
symbol begins_at
SGH    2017-04-26     reg       0
       2017-04-27     reg       0
       2017-04-28     reg       0
       2017-05-01     reg       0
       2017-05-02     reg       0

In [28]:

stocks.index.get_level_values(1)

DatetimeIndex(['2017-04-26', '2017-04-27', '2017-04-28', '2017-05-01',
               '2017-05-02', '2017-05-03', '2017-05-04', '2017-05-05',
               '2017-05-08', '2017-05-09',
               ...
               '2018-04-12', '2018-04-13', '2018-04-16', '2018-04-17',
               '2018-04-18', '2018-04-19', '2018-04-20', '2018-04-23',
               '2018-04-24', '2018-04-25'],
              dtype='datetime64[ns]', name='begins_at', length=500, freq=None)

In [29]:
stocks.tail(30)

                  close_price high_price  interpolated low_price open_price  \
symbol begins_at
VWOB   2018-03-14     77.7827    77.9521         False   77.7329    77.7628
       2018-03-15     77.7528    77.8624         False   77.7329    77.8325
       2018-03-16     77.8126    77.8624         False   77.6961    77.7528
       2018-03-19     77.5536    77.6731         False   77.5273    77.6333
       2018-03-20     77.4042    77.7827         False   77.3718    77.7628
       2018-03-21     77.6134    77.6333         False   77.4068    77.4141
       2018-03-22     77.5137    77.6931         False   77.4241    77.5436
       2018-03-23     77.2547    77.4739         False   77.2547    77.4042
       2018-03-26     77.4639    77.5635         False   77.3445    77.3842
       2018-03-27     77.6333    77.7927         False   77.5635    77.5635
       2018-03-28     77.7827    77.8723         False   77.6932    77.7927
       2018-03-29     78.1513    78.1513         False   77.8624    77.9521
       2018-04-02     78.0300    78.2600         False   77.8504    77.9400
       2018-04-03     77.9900    78.1700         False   77.9500    78.0600
       2018-04-04     78.1600    78.1700         False   77.9900    78.0700
       2018-04-05     78.0500    78.2000         False   78.0001    78.2000
       2018-04-06     78.1500    78.2500         False   78.0201    78.2000
       2018-04-09     78.1300    78.1399         False   77.9850    78.1300
       2018-04-10     77.9500    78.1300         False   77.8900    78.1000
       2018-04-11     77.9700    78.0700         False   77.9501    77.9600
       2018-04-12     78.0400    78.1162         False   77.9500    77.9800
       2018-04-13     78.0500    78.1090         False   77.9700    78.0200
       2018-04-16     78.0400    78.0400         False   77.9000    77.9000
       2018-04-17     78.0200    78.0550         False   77.9400    78.0300
       2018-04-18     77.9200    78.1200         False   77.9200    78.0500
       2018-04-19     77.6000    77.8000         False   77.5100    77.7700
       2018-04-20     77.4100    77.6000         False   77.3600    77.5900
       2018-04-23     77.2000    77.3100         False   77.1100    77.2800
       2018-04-24     77.2100    77.3527         False   77.1100    77.2500
       2018-04-25     77.0100    77.0799         False   76.7662    76.9600

                  session  volume
symbol begins_at
VWOB   2018-03-14     reg  155294
       2018-03-15     reg   55796
       2018-03-16     reg   58284
       2018-03-19     reg   50721
       2018-03-20     reg   62466
       2018-03-21     reg   44676
       2018-03-22     reg   46511
       2018-03-23     reg   63751
       2018-03-26     reg   41501
       2018-03-27     reg   55179
       2018-03-28     reg   36775
       2018-03-29     reg  100890
       2018-04-02     reg  132391
       2018-04-03     reg   83152
       2018-04-04     reg   67541
       2018-04-05     reg   68726
       2018-04-06     reg  235865
       2018-04-09     reg   91395
       2018-04-10     reg   74650
       2018-04-11     reg   49418
       2018-04-12     reg   56533
       2018-04-13     reg   83542
       2018-04-16     reg   50892
       2018-04-17     reg   42909
       2018-04-18     reg  109930
       2018-04-19     reg   56227
       2018-04-20     reg   75227
       2018-04-23     reg   78404
       2018-04-24     reg   60641
       2018-04-25     reg   84153