<pre>
https://pypi.python.org/pypi/intrinio/0.2.1
Get indices with optional filtering using parameters.
Args:
identifier: Intrinio symbol associated with the index
query: Search of index name or symbol
type: Type of indices: stock_market | economic | sic
https://api.intrinio.com/indices?identifier=%5EDJI&page_number=1&page_size=250
http://docs.intrinio.com/#indices39
</pre>

In [1]:
import intrinio
intrinio.client.username = '685ddcad9bcc92317c8e10dde3f1ae8e'
intrinio.client.password = '27f811a8102f5d16c9a5cf243f49b583'

### Indices

In [2]:
indices = intrinio.indices(identifier=None, query=None, type='stock_market')
print(indices['symbol'].values)
indices = indices['symbol'].values

['$COMPQ' '$DJA' '$DJI' '$NDX' '$SPX' '$TRAN' '$UTIL']

### prices

In [3]:
for ind in indices:
    ind_ohlc = intrinio.prices(ind, start_date='2018-04-06')
    print(ind,'\t', ind_ohlc.close.values[0], ind_ohlc.index.strftime("%Y-%m-%d %H:%M")[0])

$COMPQ 	 7281.1 2018-04-17 00:00
$DJA 	 8280.21 2018-04-17 00:00
$DJI 	 24786.63 2018-04-17 00:00
$NDX 	 6816.37 2018-04-17 00:00
$SPX 	 2706.39 2018-04-17 00:00
$TRAN 	 10592.56 2018-04-17 00:00
$UTIL 	 700.24 2018-04-17 00:00

In [5]:
ticker = 'SGH'
intrinio.financials(ticker)

,revenuegrowth,nopat,nopatmargin,investedcapital,investedcapitalturnover,investedcapitalincreasedecrease,freecashflow,netnonopex,netnonopobligations,ebit,...,ocflesscapextointerestex,fcfftointerestex,currentratio,quickratio,dfcfnwctorev,dfnwctorev,nwctorev,normalizednopat,normalizednopatmargin,pretaxincomemargin
year,,,,,,,,,,,,,,,,,,,,,
2015,NaN,-7830918.3,-0.012170,NaN,NaN,NaN,NaN,38620081.7,NaN,-12242000.0,...,0.3360,NaN,NaN,NaN,NaN,NaN,NaN,-3896900.0,-0.006056,-0.061855
2016,-0.169466,7047990.4,0.013188,182832000.0,2.9230,NaN,NaN,27007990.4,184069000.0,8059000.0,...,0.0581,NaN,1.3931,0.8713,0.090896,0.200611,0.168584,5124000.0,0.009588,-0.032776
2017,0.424510,-198182081.2,-0.260324,237251000.0,3.6245,54419000.0,-252601081.2,-190387081.2,154855000.0,31323000.0,...,-0.6492,-8.6495,1.4465,0.8577,0.141234,0.170705,0.140702,38031700.0,0.049957,0.002783

In [6]:
intrinio.companies(ticker)

,business_address,business_phone_no,ceo,cik,company_url,employees,entity_legal_form,entity_status,hq_address1,hq_address2,...,mailing_address,name,sector,securities,short_description,sic,standardized_active,stock_exchange,template,ticker
0,"39870 EUREKA DRIVE, NEWARK, CA 94560-4809",(510) 623-1231,None,0001616533,None,None,None,None,None,None,...,"39870 EUREKA DRIVE, NEWARK, CA 94560-4809",Smart Global Holdings Inc,None,[],N/A,3674,True,NasdaqGS,industrial,SGH

In [7]:
intrinio.get('companies', identifier=ticker)

,business_address,business_phone_no,ceo,cik,company_url,employees,entity_legal_form,entity_status,hq_address1,hq_address2,...,mailing_address,name,sector,securities,short_description,sic,standardized_active,stock_exchange,template,ticker
0,"39870 EUREKA DRIVE, NEWARK, CA 94560-4809",(510) 623-1231,None,0001616533,None,None,None,None,None,None,...,"39870 EUREKA DRIVE, NEWARK, CA 94560-4809",Smart Global Holdings Inc,None,[],N/A,3674,True,NasdaqGS,industrial,SGH

In [14]:
#Screen stocks with PE higher than 10:

intrinio.screener(conditions='pricetoearnings~gt~1000')

    pricetoearnings ticker
0         1145.6013   EXAC
1         2279.4169    FLS
2         9386.0378   FTAI
3         3226.8538     IT
4         1323.1333    KMI
5         1323.1333  KMI$A
6         1007.5000   MCRN
7         1081.6311   MELI
8         1746.6774    NSA
9         1585.9180    QTS
10       13147.3253   RDNT
11        1170.3967     RH
12       11944.4316     RP
13        7185.2000   SRDX
14        1766.5251    URG
15        7340.9766   VICR

In [15]:
#Get cik, lei, name and ticker of companies with “Bank” in their company name:

intrinio.companies(query='Bank')

,cik,latest_filing_date,lei,name,ticker
0,0001281661,None,None,SHINSEI BANK LTD,8303
1,0001568541,None,None,"AOZORA BANK, LTD.",8304
2,0001213219,None,None,AMERICAN BANK HOLDINGS INC,ABKH
3,0001181001,2012-11-14,None,ALLIANCE BANKSHARES CORP,ABVA
4,0001007768,None,None,AGFIRST FARM CREDIT BANK,AGFRF.GB
5,0000937553,None,None,AGRIBANK FCB,AGRIP
6,0001163747,2007-05-14,None,American Bank Inc,AMBK
7,0000741516,2018-03-09,None,American National Bankshares Inc,AMNB
8,0001108236,2018-02-28,None,American River Bankshares,AMRB
9,0000859994,None,None,AUSTRALIA & NEW ZEALAND BANKING GROUP LTD,ANZPC
10,0001443575,None,None,Avidbank Holdings Inc,AVBH
11,0000070858,2018-02-22,9DJT3UXIJIZJI4WXO774,Bank of America Corp,BAC
12,0001378999,None,None,Bank of China Ltd,BACHY
13,0001026259,None,None,BANKAMERICA CAPITAL II,BAC.OP
14,0001034594,2018-04-09,None,Bay Banks of Virginia Inc,BAYK
15,0001365997,2015-05-15,None,Bank of the Carolinas CORP,BCAR
16,0001303942,2018-02-23,None,BankFinancial Corp,BFIN
17,0000719495,None,None,Bank First National Corp,BFNC
18,0000743367,2018-03-13,None,Bar Harbor Bankshares,BHB
19,0000860554,None,None,Bank of Labor Bancshares Inc,BHDB
20,0001101250,None,None,Burke & Herbert Bank & Trust Co,BHRB
21,0001390777,2018-02-28,HPFHU0OQ28E4N0NFVK49,Bank of New York Mellon Corp,BK
22,0000009626,2007-05-09,None,Bank of New York Mellon Corp,BK
23,0001527383,2017-11-20,None,Bankguam Holding Co,BKGMF
24,0000902528,None,None,Bank Hapoalim BM,BKHYY
25,0001123270,2017-11-07,None,Bank Mutual Corp,BKMU
26,0001007273,2018-03-05,None,Bank of South Carolina,BKSC
27,0001504008,2018-03-01,96OVUWEW5D4YX6PFXD91,BankUnited Inc,BKU
28,0000934547,2015-05-08,None,Bank Of Kentucky Financial Corp,BKYF
29,0000804563,None,None,Benchmark Bankshares Inc,BMBN
...,...,...,...,...,...
225,0000714495,None,None,SOUTHTRUST BANK,None
226,0001124817,None,None,BANK ONE CAPITAL VI,None
227,0001257135,None,None,MACQUARIE BANK LTD,None
228,0001582152,None,None,"HSBC Bank USA, N.A.",None
229,0001170902,2009-11-16,None,FLORIDA COMMUNITY BANKS INC,None
230,0001334679,2009-11-12,None,BankGreenville Financial CORP,None
231,0001442741,2016-05-06,None,"Xenith Bankshares, Inc.",None
232,0000009749,None,None,BANKERS TRUST CORP,None
233,0000926497,None,None,ST GEORGE BANK LTD ...,None
234,0001207070,2007-11-09,None,FRANKLIN BANK CORP,None
235,0001140465,None,None,HSBC BANK PLC,None
236,0001358697,2010-05-17,None,"Sterling Banks, Inc.",None
237,0000878306,None,None,COMMUNITY FIRST BANK ...,None
238,0000835012,2011-08-15,None,COMMONWEALTH BANKSHARES INC,None
239,0001163575,None,None,CHUO MITSUI TRUST & BANKING CO LTD,None
240,0000723594,2012-05-15,None,FIRST CENTURY BANKSHARES INC,None
241,0000818969,2009-05-11,None,PROVIDENT BANKSHARES CORP,None
242,0000814675,None,None,JOS A BANK CLOTHIERS INC,None
243,0001140876,None,None,PEOPLES NATIONAL BANK /VA/ TA,None
244,0000071322,None,None,BANK OF NEW ENGLAND CORP,None
245,0000764241,2011-05-02,None,INTEGRA BANK CORP,None
246,0000897878,None,None,Royal Bank of Scotland N.V.,None
247,0001125727,None,None,FIRST INTERSTATE BANK,None
248,0001102113,None,None,BANK OF AMERICA NA,None
249,0001505494,None,None,Bancorp Bank,None
250,0000729153,None,None,ROYAL BANK OF SCOTLAND PLC,None
251,0001184915,None,None,SUMITOMO MITSUI BANKING CORP,None
252,0000030088,None,None,DRESDNER BANK AG /FI,None
253,0000036090,None,None,BANK ONE CORP /OH/,None
254,0001294730,None,None,DEPFA BANK PLC,None