In [9]:
import numpy as np
import pandas as pd
from datetime import datetime
import yfinance as yf
start = '2019-01-01'
end  = '2019-01-08'
print(start_date,'\t',end_date)
symbols = ['AMZN', 'NFLX']
yf.download(tickers = symbols,interval = "1d",start=start,end=end,group_by = 'column',auto_adjust = True,prepost = False,threads = True)

2019-01-01 	 2019-01-01
[*********************100%***********************]  2 of 2 completed

                  Close                     High                      Low  \
                   AMZN        NFLX         AMZN        NFLX         AMZN
Date
2019-01-02  1539.130005  267.660004  1553.359985  269.750000  1460.930054
2019-01-03  1500.280029  271.200012  1538.000000  275.790009  1497.109985
2019-01-04  1575.390015  297.570007  1594.000000  297.799988  1518.310059
2019-01-07  1629.510010  315.339996  1634.560059  316.799988  1589.189941

                               Open               Volume
                  NFLX         AMZN        NFLX     AMZN      NFLX
Date
2019-01-02  256.579987  1465.199951  259.279999  7983100  11679500
2019-01-03  264.429993  1520.010010  270.200012  6975600  14969600
2019-01-04  278.540009  1530.000000  281.880005  9182600  19330100
2019-01-07  301.649994  1602.310059  302.100006  7993200  18620100

In [7]:
def getNDatePlusOne(ndays):
    now = datetime.now()
    start = now - pd.tseries.offsets.BusinessDay(n=(ndays+1))
    end = now - pd.tseries.offsets.BusinessDay(n=ndays)
    start = '{:%Y-%m-%d}'.format(start)
    end = '{:%Y-%m-%d}'.format(end)
    return start,end

def getRowNDaysAgo(symbols, ndays):
    if ndays == 0:
        dfDaysAgo = yf.download(tickers = symbols,period = "1d",interval = "1d",group_by = 'column',auto_adjust = True,prepost = False,threads = True)
        dfDaysAgo = dfDaysAgo.tail(1)
    else:
        start, end = getNDatePlusOne(ndays)
        dfDaysAgo = yf.download(tickers = symbols,interval = "1d",start=start,end=end,group_by = 'column',auto_adjust = True,prepost = False,threads = True)
        dfDaysAgo = dfDaysAgo.head(1)
    return dfDaysAgo
getRowNDaysAgo(symbols,3)

[*********************100%***********************]  2 of 2 completed

                  Close                     High                     Low  \
                   AMZN        NFLX         AMZN        NFLX        AMZN
Date
2020-11-03  3048.409912  487.220001  3074.899902  495.309998  2980.97998

                              Open               Volume
                 NFLX         AMZN        NFLX     AMZN     NFLX
Date
2020-11-03  478.76001  3018.530029  484.929993  4897900  3690200