In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
df = pd.DataFrame(data={'data': [1, 2, 3, 4, 5, 6, 7, 8, 9],
                   'open': [1.1, 2.2, 3.3, 4.4, 5.5, 6.6, 7.7, 8.8, 9.9],
                   'close': [1.2, 2.3, 3.4, 4.5, 5.6, 6.7, 7.8, 8.9, 9.0],
                   'prev_close': [.1, .2, .3, .4, .5, .6, .7, .8, .8],
                   'volume': [1000, 2000, 3000, 4000, 5000, 6000, 7000, 8000, 9000]
                   },
             index=pd.MultiIndex.from_tuples([(dt(2016, 1, 1), 1),
                                           (dt(2016, 1, 2), 1),
                                           (dt(2016, 1, 3), 1),
                                           (dt(2016, 2, 1), 1),
                                           (dt(2016, 2, 2), 1),
                                           (dt(2016, 2, 3), 1),
                                           (dt(2016, 3, 1), 1),
                                           (dt(2016, 3, 2), 1),
                                           (dt(2016, 3, 3), 1)],
                                          names=['date', 'id'])
             )

df

               data  open  close  prev_close  volume
date       id
2016-01-01 1      1   1.1    1.2         0.1    1000
2016-01-02 1      2   2.2    2.3         0.2    2000
2016-01-03 1      3   3.3    3.4         0.3    3000
2016-02-01 1      4   4.4    4.5         0.4    4000
2016-02-02 1      5   5.5    5.6         0.5    5000
2016-02-03 1      6   6.6    6.7         0.6    6000
2016-03-01 1      7   7.7    7.8         0.7    7000
2016-03-02 1      8   8.8    8.9         0.8    8000
2016-03-03 1      9   9.9    9.0         0.8    9000

In [4]:
type(df)

pandas.core.frame.DataFrame

In [3]:
from arctic import CHUNK_STORE, Arctic

a = Arctic('localhost')
a.initialize_library('chunkstore', lib_type=CHUNK_STORE)
lib = a['chunkstore']
lib.write('column_test', df, chunk_size='D')
lib.read('column_test', columns=['prev_close', 'volume'])

Library created, but couldn't enable sharding: no such command: 'enablesharding'. This is OK if you're not 'admin'

               prev_close  volume
date       id
2016-01-01 1          0.1    1000
2016-01-02 1          0.2    2000
2016-01-03 1          0.3    3000
2016-02-01 1          0.4    4000
2016-02-02 1          0.5    5000
2016-02-03 1          0.6    6000
2016-03-01 1          0.7    7000
2016-03-02 1          0.8    8000
2016-03-03 1          0.8    9000